
[submodule "backend"]
	path = backend
	url = https://github.com/NikitaGhimire/Backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/NikitaGhimire/frontend.git
[submodule "Backend"]
	path = Backend
	url = https://github.com/NikitaGhimire/Backend.git
